<div id="fondE" class="d-flex justify-content-center align-items-center">
  <div class="col-5">
    <div class="row">
      <div class="col-12 d-flex justify-content-center flex-column white align-items-center p-5" id="enteteE">
        <h2 class="">ESPACE ENTREPRISE</h2>
        <hr width="50%">
        <h5 class="font-weight-bold teal-text">Veuillez renseigner votre projet</h5>
      </div>
      <form method="get" action="" class="white col-4 col-12 p-5">
        <div class="form-group">
          <label for="my-input">Nom de l'Entreprise ou du particulier</label>
          <input id="nomE" class="form-control-plaintext border p-2" type="text" name="">
        </div>
        <div class="form-group">
          <label for="my-input">Titre du projet</label>
          <input id="projet" class="form-control-plaintext border p-2" type="text" name="">
        </div>
        <div class="form-group">
          <label for="my-input">Delai</label>
          <input id="projet" class="form-control-plaintext border p-2" type="text" name="">
        </div>
        <div class="form-group">
          <label for="idee">Décrivez votre idée</label>
          <textarea id="idee" class="form-control-plaintext border p-2" name="" rows="3"></textarea>
        </div>
        <button class="btn btn-outline-danger mt-4 rounded-0" type="submit">Fermer</button>
        <button class="btn btn-outline-dark mt-4 rounded-0" type="submit">Soumettre le projet <i class="mdi-av-play-arrow ml-2"></i></button>
      </form>
    </div>
  </div>
</div>