<div class="col-12 p-5 information" id="startup">
    <i class="mdi-communication-business fa-10x"
    style="font-size: 500px; transform: rotate(45deg); opacity: 0.1; position: absolute; top: -8.5cm; left: -6cm;"></i>
    <div class="row">
        <h3 class="col-12 mb-4 font-weight-bold text-secondary droite text-right"> <i class="text-info fa-2x">C</i>lubs</h3>
        <div class="row">
            <div class="col-lg-5 offset-lg-1 col-md-7 p-2">
                <%- include("../components/projetcard",{
                    projet : "Junior Enterprise",
                    image : "work.jpeg",
                    equipe : "Junior Enterprise de l'ESATIC",
                    details : "",
                    type : ""
                }) -%>
            </div>
            <div class="col-lg-6 col-md-5 details pt-3 gauche">
                <p class="text-right">
                    La SIIN est une start-up créée en juillet 2018 qui évolue dans la dématérialisation des produits
                    d’assurances. Elle a réussi à fédérer tous les assureurs de Côte d’Ivoire à l’idée d’une plateforme
                    commune à tout le marché des assurances.
                </p>
            </div>
        </div>
    </div>
</div>