<div class="col-12 white-text p-5" id="clubs">
    <div class="row">
        <h3 class="col-12 blue-grey-text mb-4"> <i class="text-info fa-2x">C</i>lubs
            <div class="row ">
                <div class="col-lg-12 col-md-12 details pt-3  grey-text text-lighten-3" text-darken-1">
                    <p>
                        En plus du centre de recherche, l'ESATIC est aussi animée par ses clubs qui permettent aux jeunes
                        apprenants de se divertir tout en excellant dans les domaines des TICs. ces clubs sont tous
                        independants mais agissent au nom du comité de recherche de l'ESATIC. Ils organisent des
                        activités, des cours de formation et biens autres divertisements afin de permettre aux
                        etudinats de s'epanouir dans un environnement de recherche.
                    </p>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="card border-0">
                                <img class="card-img-top" src="/images/informatique.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title white-text">Club Info
                                    </h5>
                                    <p class="card-text white-text">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card border-0">
                                <img class="card-img-top" src="/images/robotique.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title white-text">Club Robotique
                                    </h5>
                                    <p class="card-text white-text">
                                    </p>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
    </div>
</div>