<div class="col-12 p-5" id="clubs">
    <div class="row">
        <h3 class="col-12 black-text mb-4 lead text-right droite"> <i
                class="text-info fa-2x">C</i>lubs
            <div class="row ">
                <div class="col-lg-12 col-md-12 details pt-3 droite">
                    <p>
                        En plus du centre de recherche, l'ESATIC est aussi
                        animée par ses clubs qui permettent aux jeunes
                        apprenants de se divertir tout en excellant dans les
                        domaines des TICs. ces clubs sont tous
                        independants mais agissent au nom du comité de recherche
                        de l'ESATIC. Ils organisent des
                        activités, des cours de formation et biens autres
                        divertisements afin de permettre aux
                        etudinats de s'epanouir dans un environnement de
                        recherche.
                    </p>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div
                        class="row d-flex align-items-center justify-content-center">
                        <% clubs.forEach(c=>{ %>
                        <div class="col-lg-4 col-md-6 monter">
                            <%- include("../components/newcard",{
                                details : c.details,
                                titre : c.titre,
                                image : c.image
                            }) -%>
                        </div>
                        <% }) %>

                    </div>
                </div>
            </div>
    </div>
</div>