<div class="col-12 p-4 information" id="conditions">
    <div class="row">
        <div class="row">
            <div class="col-12 d-flex justify-content-around align-items-center" id="souscription">
                <div class="col-12 text-secondary">
                    <div class="row">
                        <h3 class="col-12 blue-grey-text mb-4"> <i class="text-info fa-2x">I</i>nscrivez-vous</h3>
                        <div class="col-lg-4 col-md-4 text-center justify-content-center  mt-3  d-flex">
                            <div class="card border-0">
                                <div class="card-body rounded">
                                    <i class="fa fa-user fa-3x"></i>
                                    <h4 class="card-title">Etudiant</h4>
                                    <p class="card-text">
                                        <a href="/inscription/etudiant">
                                        <button class="btn btn-danger rounded-0" type="button">Proposer
                                            un projet<i class="fa fa-arrow-right ml-4"></i></button></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 text-center justify-content-center mt-3 d-flex">
                            <div class="card border-0">
                                <div class="card-body rounded">
                                    <i class="fas fa-user-tie fa-3x"></i>
                                    <h4 class="card-title">Entreprise Publique
                                    </h4>
                                    <p class="card-text">
                                        <button class="btn btn-warning rounded-0" type="button" data-toggle="modal"
                                            data-target="#modelId">Souscrire <i class="fa fa-arrow-right"></i></button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 text-center justify-content-center mt-3  d-flex">
                            <div class="card border-0">
                                <div class="card-body rounded-0">
                                    <i class="fa fa-user-secret fa-3x"></i>
                                    <h4 class="card-title">Entreprise Privée
                                    </h4>
                                    <p class="card-text">
                                        <button class="btn btn-info rounded-0" type="button" data-target="#modelId"
                                            data-toggle="modal" data-target="#modelId">Souscrire <i
                                                class="fa fa-arrow-right"></i></button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>