<div class="col-12 p-5 information" id="startup">
    <div class="row">
        <h3 class="col-12 mb-4 font-weight-bold text-secondary gauche"> <i class="text-info fa-2x">E</i>space Entreprise</h3>
        <div class="row">
            <div class="col-lg-6 col-md-5 details pt-3 gauche">
                <p>
                    Ce espace est dédié au Entreprises privées comme publiques souhaitant soumettre une idée de conception ou  un projet à la CID.
                </p>
                <button class="btn btn-info rounded-0" type="button" onclick="window.location = 'entreprise'">Soummettre un projet</button>
            </div>
            <div class="col-lg-6 col-md-7 p-2 d-flex justify-content-center">
               
            </div>
        </div>
    </div>
</div>