<div class="col-12 p-lg-3 information" id="">
  <div class="row">
    <h3 class="col-12 mb-4 font-weight-bold text-secondary gauche"> <i class="text-info fa-2x">E</i>space Entreprise
    </h3>
    <div class="col-lg-6 col-sm-12 col-md-5 details pt-3 gauche">
      <p>
        Ce espace est dédié au Entreprises privées comme publiques souhaitant soumettre une idée de conception ou un
        projet à la CID.
      </p>
    </div>
    <div class="col-lg-6 p-lg-2 col-sm-12 d-flex justify-content-center">
      <form method="get" action="" class="white p-5 ombre col-10">
        <div class="form-group">
          <label for="my-input">Nom de l'Entreprise de la structure ou du particulier</label>
          <input id="nomE" class="form-control-plaintext border p-2" type="text" name="">
        </div>
        <div class="form-group">
          <label for="my-input">Titre du projet</label>
          <input id="projet" class="form-control-plaintext border p-2" type="text" name="">
        </div>
        <div class="form-group">
          <label for="my-input">Delai</label>
          <input id="projet" class="form-control-plaintext border p-2" type="text" name="">
        </div>
        <div class="form-group">
          <label for="idee">Décrivez votre idée</label>
          <textarea id="idee" class="form-control-plaintext border p-2" name="" rows="3"></textarea>
        </div>
        <small>Envoyer le cahier des charges en piece <br> jointe à l'adresse : cid@esatic.edu.ci</small><br>
        <button class="btn btn-outline-dark mt-4 rounded-0" type="submit">Soumettre le projet <i
            class="mdi-av-play-arrow ml-2"></i></button>
      </form>
    </div>
  </div>
</div>