<div class="col-12 voir grey darken-3" id="contacts">
    <div class="row">
        <div class="mt-5 mb-5 col-lg-4 col-md-6 col-xs-12 white-text text-center">
            <h5 class="col-12 blue-grey-text mb-3 text-center"> <i class="text-info fa-2x">C</i>ontacts
                <i class="fas fa-phone    "></i> </h5>
            <div class="mt-3">Direction : +225 25 635 145</div>
            <div class="mt-3">Secretariat : +225 25 635 145</div>
            <div class="mt-3">Service Projet : +225 25 635 145</div>
            <div class="mt-4">
                <a class="navbar-brand p-3 blue-text" style="background-color: #2c2e43;" href="#" onclick="$('#baniere').animatescroll();">
                    <img src="/images/logo/logoCidBlanc.png" alt="">
                </a>
                <small class="mont">Cellule d'Innovation et de Developpement</small>

            </div>
        </div>
        <!-- <div class="mt-5 mb-5 col-lg-4 col-md-6">
            <h5 class="col-12 text-center blue-grey-text mb-3"> <i class="text-info fa-2x">P</i>artenaires
                <i class="fas fa-hands    "></i> </h5>
            <div class="col-12 mt-3 text-center">
                <a target="blank" href="https:www.artci.ci">
                    <img src="/images/logo/artci.png" height="50" alt="">
                </a>
            </div>
            <div class="col-12 mt-3 text-center">
                <a target="blank" href="https:www.ansut.ci">
                    <img src="/images/logo/ansut.png" height="50" alt="">
                </a>
            </div>
            <div class="col-12 mt-3 text-center">
                <a target="blank" href="https:www.fjn.ci">
                    <img src="/images/logo/fjn.png" height="50" alt="">
                </a>
            </div>

        </div>  -->
        <div class="col-12 d-flex justify-content-center pt-3 pb-n3 grey-text text-lighten-5" id="copyright">
            <h6>Copyright © 2019 CID - design by <a href="#">Edy
                    Koffi</a>
            </h6>
        </div>
    </div>
</div>