<footer class="col-12 white text-dark" id="footer">
    <div class="row p-5">
        <div class="col-2 p-5">
            <img src="/images/logo/logoCidBleu.png" alt="">
        </div>
        <div class="col-lg-4 col-sm-12 col-md-6"><span class="font-weight-bold">Equipe</span>
            <span class="lead font-weight-bolder text-info">| CID</span>
            <p class="">
                La Cellule d'Innovation et de Dévéloppement (CID) est un centre de recherche et d'innovation en matière de TIC.
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6 text-center "><span class="lead font-weight-bolder">NOUS
                CONTACTER</span>
            <p class="mt-3" style="font-size:18px">+225 07 65 40 65</p>
            <p class="" style="font-size:18px">cid@esatic.edu.ci</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center pt-3 pb-n3 text-dark bg-light" id="copyright">
            <h6>Copyright © 2020 CID - design by <a href="https://www.linkedin.com/in/edy-koffi-948494192" target="_blank" class="blue-text font-weight-bold" rel="noopener noreferrer">Edy
                Koffi</a> 
            </h6>
        </div>
    </div>
</footer>