<nav class="navbar navbar-dark shadow-sm position-fixed fixed-top col-lg-12 col-md-12" id="nav">
    <a class="navbar-brand p-2 blue-text" href="#" onclick="$('#baniere').animatescroll();">
        <img src="/images/logo/logoCidBlanc.png" alt="">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" onclick="$('#presentation').animatescroll();" href="#">Presentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="$('#prix').animatescroll();" href="#">Recompenses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="$('#objectifs').animatescroll();" href="#">Objectifs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="$('#startup').animatescroll();" href="#">Start-up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="$('#clubs').animatescroll();" href="#">Clubs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="$('#projets').animatescroll();" href="#">Projets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="$('#conditions').animatescroll();" href="#">S'inscrire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="$('#contacts').animatescroll();" href="#">Contacts</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="/APPEL_A_PROJETS_INNOVANTS_CID _2019_2020.docx" download class="red-text animated infinite flash">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="button">Appel à innovation <i
                        class="fa fa-download" aria-hidden="true"></i></button></a>
        </form>
    </div>
</nav>