<div class="col-12 p-5 information bg-light" id="objectifs">
    <div class="row">
        <h3 class="col-12 mb-4 lead gauche"> <i
                class="text-info fa-2x">O</i>bjectifs</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 details pt-3 grey-text text-darken-1 gauche">
                <p>
                    Nous travaillons à créer une CID regroupant les Unités Mixtes de Recherche et d'Innovation (UMRI), pépinières d'entreprises, espaces de Coworking/travail collaboratif, pour entreprendre et innover durablement en matière de TICs. L'objectif general consiste à relever le niveau de qualité de vie de la population à travers la promotion et le soutient des initiatives à caractère numérique et, de manière plus spécifique : 
                </p>
                <ul>
                    <li><p>Détecter et accompagner des projets d'innovations</p></li>
                    <li><p>Aider le demarrage d'entreprises dérivées, issues de technologies  dévéloppées par les chercheurs de l'ESATIC</p></li>
                    <li><p>Offrir un environnement de recherhce à des entreprises afin de favoriser les intérractions et les collaborations avec les chercheurs de l'ESATIC</p></li>
                    <li><p>Offrir les conditions de pré-incubations à un coût abordable</p></li>
                    <li><p>Privilégier les secteurs émergents : économie collaborative, transition démographique et énergétiques, Big Data, cyber sécurité, Cloud, IOT</p></li>
                    
                </ul>


            </div>
        </div>
    </div>
</div>