<div class="col-12 p-lg-3 p-md-3 p-sm-0 rounded information" id="presentation">
   
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-12">
            <h3 class="col-12 mb-4 text-secondary font-weight-bold gauche"> <i
                    class="text-info fa-2x">P</i>résentation</h3>
            <div class="row p-3">
                <div class="col-12 details">
                    <p class="grey-text text-darken-1">
                        La Cellule d'Innovation et de Dévéloppement (CID) est un
                        centre de recherche de projets innovants en matière de TIC,
                        née le <b>25 Avril 2017</b> lors du séminaire sur la Recherche Opérationnelle et l'Aide à la décision (ROAD) 2017, d'une décision du Conseil de gestion de l'ESATIC.
                    </p>
                    <p
                        class="grey-text text-darken-1 grey lighten-4 p-4 rounded">
                        Cette cellule est à la charge du Professeur ASSEU Olivier, Directeur de la Recherche et de l'Innovation Technologique (DRIT) et du Coordinateur de la CID, Dr KOUASSI Franklin. La CID participe à la recherche de solutions dans les secteurs d'activités  locaux. Pour cela un comité de recherche composé de Docteurs, d'Ingenieurs et de Techniciens est mis en place afin d'accompagner les projets à leur terme.
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 esatic">
            <div class="card rounded-0 border-0">
                <div class="card-body">
                    <h5 class="card-title blue-grey-text">ESATIC
                    </h5>
                    <p class="card-text grey-text">
                        École Supérieure Africaine des TIC<br>
                        <a href="http://esatic.ci" target="blank">visiter le
                            site
                        </a>
                    </p>
                </div>
                <img class="card-img-bottom" src="/images/fond.jpg" alt="photo de l'esatic">
                <script>

                </script>
                <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD5pjHFExaCTxGzaJq5fPX-mLaXhRtZjY&callback=initMap">
                    </script>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.820397759808!2d-3.9989322!3d5.2907020000000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1e95a7230b815%3A0xb42441cd6ea4939c!2sECOLE+SUP%C3%89RIEURE+AFRICAINE+DES+TIC+(+ESATIC)!5e0!3m2!1sfr!2sci!4v1551265063681"
                    class="border-0" height="200" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
            </div>

        </div>
    </div>
</div>