<div class="col-12 p-5" id="projets">
    <div class="row">
        <h3 class="col-12 mb-4 display-4 font-weight-bold gauche"> <i
                class="text-info fa-2x">P</i>rojets</h3>
        <div class="row">
            <div
                class="col-lg-12 col-md-12 details pt-3 gauche">
                <p>
                    La CID aborde des projets diverses et reparties en plusieurs
                    catégories. Cette diversité nous permet
                    d'atteindre plusieurs domaines d'activité satifaisant ainsi
                    une majeure partie de la population.
                    Parmis ces nombreux projets nous citons :
                </p>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <% projets.forEach(p=>{ %>
                    <div class="col-lg-3 col-md-6 monter">
                        <%- include("../components/projetcard",{
                            projet : p.projet,
                            image : p.image,
                            equipe : p.equipe,
                            details : p.details,
                            type : p.type
                        }) -%>
                    </div>
                    <% }) %>

                </div>
            </div>
        </div>
    </div>
</div>