<div class="col-lg-12 col-md-12 information p-5" id="responsables">
    <i class="mdi-hardware-memory fa-10x"
    style="font-size: 500px; transform: rotate(46deg); opacity: 0.1; position: absolute; top: -7.03cm; left: -6cm;"></i>
    <div class="row">
        <div class="col-12">
                <h3 class="col-12 mb-4 text-secondary font-weight-bold droite"> <i class="text-info fa-2x">R</i>esponsables</h3>
            <div class="col-12 ">
                <div
                    class="row d-flex align-items-center text-darken-1">
                    <% profs.forEach((p)=>{ %>
                    <div class="col-lg-3 col-md-4 mb-4 text-center descendre">
                        <%- include("../components/newcard",{
                                image : p.photo,
                                details : p.responsabilite,
                                titre : p.nom
                                }) -%>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>