<div class="col-12 p-5 information" id="startup">
    <div class="row">
        <h3 class="col-12 mb-4 font-weight-bold text-secondary gauche"> <i class="text-info fa-2x">S</i>tartups</h3>
        <div class="row">
            <div class="col-lg-6 col-md-5 details pt-3 gauche">
                <p>
                    La SIIN est une start-up créée en juillet 2018 qui évolue dans la dématérialisation des produits
                    d’assurances. Elle a réussi à fédérer tous les assureurs de Côte d’Ivoire à l’idée d’une plateforme
                    commune à tout le marché des assurances.
                </p>
            </div>
            <div class="col-lg-6 col-md-7 p-2 d-flex justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="card border-0">
                        <a href="https://easyassur.net" target="blank" class="gauche">
                            <img class="card-img-top" src="/images/siin_logo.png" alt="">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title gauche"><a href="https://easyassur.net" target="blank" class="blue-grey-text">SIIN</a>
                            </h5>
                            <h6 class="grey-text monter">Société Ivoirienne d'Intelligence Numerique</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>