<div class="row p-1">
    <div style="background-image: url('/images/<%= image %>')" class="newCard col-12">
        <i class="mdi-action-info-outline"></i>
        <small><%= details %></small>
        <h4 class="titre">#<%= titre %></h4>
    </div>
</div>