<div class="row p-2">
    <div class="col-12 productCard">
        <div class="row">
            <div style="background-image: url('/images/<%= image %>')" class="imageProduct col-12">
                <div class="prix p-2 m-2">
                    <h5 class="mt-2"><%= equipe %></small></h5>
                </div>
            </div>
            <div class="col-12 p-4">
                <h5 class="titre lead font-weight-bold"><%= projet %></h5>
                <small><%= type %></small>
            </div>
        </div>
    </div>
</div>