
#page{
    height: 100vmin;
}

p{
    font-size: 19px;
    line-height: 1cm;
}

.fond{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar-brand img{
    height: 1cm;
}
#voir {
    background-image: url('/images/electronique.jpg');
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 -5cm;
    background-blend-mode: color-burn;
    height: 7cm;
}
.rot{
    transition: rot 0.18s ease;
    animation: rot 5s infinite ease
}

@keyframes rot{
    0%{
        transform: rotateZ(0deg)
    }
    25%{
        transform: rotateZ(90deg)
    }
    50%{
        transform: rotateZ(180deg)
    }
    75%{
        transform: rotateZ(270deg)
    }
    100%{
        transform: rotateZ(360deg)
    }
}
#demande{
    visibility: hidden;
}