<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 p-5">
    <div class="form-group">
        <label for="pertinence">Pertinence</label>
        <div class="input-group">
            <input id="pertinence"
                class="form-control-plaintext monter border-right-0 border border-dark rounded-0 grey-text text-darken-2 white p-3"
                type="number" min="0" max="5" maxlength="1">
            <div class="input-group-append">
                <span class="input-group-text white border-left-0"
                    id="my-addon">/ 5</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="accessibiite">Accessibilité</label>
        <div class="input-group">
            <input id="accessibilite"
                class="form-control-plaintext monter border-right-0 border border-dark rounded-0 grey-text text-darken-2 white p-3"
                type="number" min="0" max="5" maxlength="1">
            <div class="input-group-append">
                <span class="input-group-text white border-left-0"
                    id="my-addon">/ 5</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="motivation">Motivation</label>
        <div class="input-group">
            <input id="motivation"
                class="form-control-plaintext monter border-right-0 border border-dark rounded-0 grey-text text-darken-2 white p-3"
                type="number" min="0" max="5" maxlength="1">
            <div class="input-group-append">
                <span class="input-group-text white border-left-0"
                    id="my-addon">/ 5</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="innovation">Innovation</label>
        <div class="input-group">
            <input id="innovation"
                class="form-control-plaintext monter border-right-0 border border-dark rounded-0 grey-text text-darken-2 white p-3"
                type="number" min="0" max="5" maxlength="1">
            <div class="input-group-append">
                <span class="input-group-text white border-left-0"
                    id="my-addon">/ 5</span>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <a href="#" id="valider">
            <button class="btn btn-outline-dark rounded-0" type="button">Valider
                la demande<i class="fa fa-arrow-right ml-2"
                    aria-hidden="true"></i></button>
        </a>
    </div>
</div>