.productCard{
    border-radius: 5px;
}


.productCard .imageProduct{
    min-height: 200px;
    cursor: pointer;
    background-size: cover;
    background-blend-mode: multiply;
}



.imageProduct .prix{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.877);
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-blend-mode: multiply;
    transition: all 0.8s ease;
    transition: all 0.5s ease;

}
.imageProduct:hover .prix{
    transform: translateY(-2cm);
    opacity: 0;
}